*::before ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   
    background-color: #FFFFFF;
    font-family: 'basic',sans-serif;
    height: 100vh;
    width: 100%;  
}
/*content responsive with grid*/

.container-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 100px;
    height: 100vh;
    width: 100%;  
    margin: 0 auto;
    flex-grow: 1;
   
}
header {
    grid-column-start: span 3;
}

.slidbar {
    grid-column-start: span 1;
   
}
.main-content{
    grid-column-start: span 2;
}
.slider-avis{
  grid-column-start: span 3;
  
}
.footer-section {
    grid-column-start: span 3;
}
@media (max-width: 760px) {  
    .container-section{
        grid-template-columns:1fr;
       grid-template-rows: 100px auto auto 100px;
    }
    header, .slidbar, .main-content, .slider-avis, .footer-section{
        grid-column-start: span 1;
        
}
      
}
.slidbar,
.main-content{
    padding: 8px;
}

/*Navbar*/
.navbar-nav{
    
    margin-left: 50px;
    
    
}
.navbar-toggler{
    background-color: #DF362D;
}
.logo{
    width:114px;
    height:40px;
    position: absolute;
    left:5%;
    top:20%;
}
.fa-solid{
    margin: 10px;
}
.navbar-light .navbar-nav .nav-link{
    color: #262526;
    font-size: 16px;
    text-transform: uppercase; 
   /* padding:.7rem 1rem ;*/
    margin-right:30px ;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FF4500;
}

@media screen and (max-width: 909px){
    .navbar-light .navbar-nav .nav-link {
        color: #F2F2F2;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: #FF4500;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: #FF4500;
    }
    
    .offcanvas-title{
        color: #F2F2F2;
        text-transform: uppercase;
    }
    .btn-close{
        background-color: #DF362D;
    }
    .offcanvas {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #262626;
        right: 0;
        text-align: center; 
    } 
   
    .fa-solid{
        display: none;
    }
     
}

/* END; Section burger */


/*Start : avis */

.card-home{
  width: 100%;
  
}

.card-home,
.img1{
  background-color: #262526;
}
.card-home,
.img1,
.img2{
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 
}


h2{
    color: white;
    font-size: 40px;
   margin-top: 30px;
   font-weight: 600;
}
@media screen and (max-width: 740px){
    h2{
        font-size: 30px;
    }

}

/*End of Nav/*

cards-userCar accueil*/
.container-card{
    height: 100%;
    width: 100%;
    
 }
.text-center{
  margin-top: 10%;
  margin-bottom: 10%;
}



 @media (min-width: 760px){
  .card-group {
    display: flex;
    flex-direction: row;
  }
}


 .title-car{
    content: '';
    display: block;
    border: none;
  
    
}

.title-car a{
    color: #262526;
    font-size: 1.1rem;
    text-decoration: none;
   font-weight: bold;
}
.title-car a:hover{
    color: #DF362D;
    font-size: 1.3rem;
    transition: 0.3s;
   
}
.card-price {
    position: relative;
    top: 20px;
    padding: 2PX;
    font-size: 0.99rem;
    color: #262526;
   
}
small a{
    padding: 5px;
    position: relative;
    bottom: 0;
    font-size: 13px;
    text-decoration: none;
    color: #262526;
    font-weight: bold;
}
.group-car{
    box-shadow: -2px -3px 17px -6px rgba(183,172,68,0.88);
    margin: 0;
    padding: 0;
    border-radius: 15px;
  
}

.card-img-top{
    border-radius:15px 15px 0 0;
    width: 100%;
    background-size: cover;
    margin-bottom: 15px;
}

.card-body{
    text-align: center; 
}

.card-footer{
    border-top: 1px solid #B7AC44;

}
@media (max-width: 740px) {
    
    .title4{
       font-size: 14px;
    }
    
}

 .card-footer{
    display: flex;
    justify-content: center;
    }
.btn-card{
    border: #ff4500 1px solid;
    background-color: #FF4500;
    color: #FFFFFF;
}
/*End:cards-userCar accueil*/

/*Paragraph service
  aside*/
.details-story {
    margin-left: 8px;
    background-color: #F2F2F2;
}

.title4{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.paragraph1{
   
    text-align: justify;
    line-height: 1.8em;
    font-size: 0.9rem;

}
/*End: Paragraph service
  aside */

/* Footer-section*/
.footer-section{
  background-color: #262526;
  width: 100%;
  height:100vh;
  color:#F2F2F2 ;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 460px;
}

.footer-section,
.content-footer{
text-align: center;

}
.content-footer{
  flex-grow:2 ;
  width: 20%;
  letter-spacing: 6px;
  
  
}

.content-footer, .hour, span, a {
  font-size: 0.89rem;
  color: #adadad;
}

.content-footer, 
.title-car{
color: #F2F2F2;
font-weight: 300;
margin-bottom: 30px;
letter-spacing: 1px;
font-size: 1.3rem;


}
.col-3{
  margin-top: 5%;
}
.col-2{
line-height: 20px;
 width: 25%;

}
 hr{
 margin-left: 25%;
background-color: #ff333f;
width: 65px;
  
  }
.content-footer a{

  display: block;
  text-decoration: none;
  color: #adadad;
  margin-bottom: 15px;


}
@media (max-width: 760px)
{
  .footer-section{
    flex-direction: column;
    justify-content: flex-start;
    justify-content: none;
    background-color: #262526;
    height: 890px;
    margin-top: -65%;
  }
  .footer-social-icon .social_icon{
    flex-direction: column;
  }
}

   /*Contact*/
 #retunForm,
   .btn  {
    
    border: #1da1f2;
    width: 35%;
    font-size: 0.99rem;
    
  }
  #retunForm, .btn a{
    display: block;
    text-align: center;
    color: #fff;
  }
 
  .btn:hover {
    background-color: #ff333f;
  }
    
 /* Social icon*/
 
   .footer-social-icon .social_icon {
   
    text-align: left;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    width: 100%;
    margin-top: 10%;
  }
   .footer-social-icon .social_icon li {
    float: inherit !important;
    display: inline-block !important;
    width: inherit;
  }
 .footer-social-icon .social_icon li a i {
    font-size: 15px;
    line-height: 39px;
  }
 .footer-social-icon .social_icon li a {
    width: 35px;
    height: 35px;
  }
  
  .social_icon {
    text-align: right;
    margin: 0 ;
    margin-top: 3px;
  }
 .social_icon li {
    display: inline-block;
    margin: 0 5px;
  }
  .social_icon li a {
    
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    color: #000;
    text-align: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
  }
  .social_icon li a i {
    font-size: 10px;
    line-height: 20px;
  }
  .social_icon li:nth-child(1) a {
    background: #4267b2;
    color: #fff;
  }
  .social_icon li:nth-child(2) a {
    background: #1da1f2;
    color: #fff;
  }
  .social_icon li:nth-child(3) a {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
   
  }
  .social_icon li:nth-child(4) a {
    background: #ff0000;
    color: #fff;
  }
  .social_icon li:nth-child(1):hover a {
    background: #fff;
    color: #4267b2;
  }
  .social_icon li:nth-child(2):hover a {
    background: #fff;
    color: #1da1f2;
  }
  .social_icon li:nth-child(3):hover a {
    background: #fff;
    color: #bc1888;
  }
  .social_icon li:nth-child(4):hover a {
    background: #fff;
    color: #ff0000;
  }
  /* End :Footer-section*/

  /* Menu-service*/
  .menu-accueil{
    
     margin-top: 2%;
    text-align: center;
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    height: 130px;
   
 }
 .element-img1,
.element-img2{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid rgb(51, 153, 70);
    position: absolute;
    top:20px;
    bottom: 20px;
   
}

.card-title{
    color: white;
    font-size:1.5rem;
   margin-top: 30px;
   font-weight: 600;
   text-align: center;
}
@media screen and (max-width: 740px){
    .card-title{
        font-size: 30px;
    }

}
/* End: menu service*/

/* Carousel*/
.slider-1{
  
    max-width: 800px ;
    margin: 100px auto;
    overflow: hidden;
    padding: 0;
}
  
  .slider-1 .slider{
     display: flex;
    animation: slider-1 12s infinite ease-in-out;/*tourné à l'infinit*/
  
    }

    .slider-1 p{
     opacity: 0.60;
     color: #262526;
     flex-shrink: 0; /*Ne retresira pas*/
     padding: 76px 0;
     width: 100%;
     text-align: center;
     font-size: 0.99;
     }
      /*
      5% de l'animation par transition, nombre choise librement
      à diviser par le nb de pause: 
      80(%) / 4 (animation)= 20 (%) pas pause. soit 20 % dédier au transition et 80% au reste (pause)
      */
  @keyframes slider-1{
      /*pause 1*/
       0%,
      20%{
          transform: translatex(0);
       }
        /*5 %  de transition reste pendant 20% pause*/
      25%,
      45% {
          transform: translatex(-100% );
      }
       /*pause 3*/
      50%,
      70% {
          transform: translatex(-200%) ;
      }
       /*Transition*/
      75%,95%{
          transform: translatex(-300%);
      }
      100%{
          transform:translatex(-400%);
      }
  }
  
/* Couleur des étoile. */
.fa-star.gold {
	color: #DF362D;
}

/* Le parent global '.rating' positionne le groupe des étoiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-top:80%
    
}
@media screen and (min-width: 760px) {
    .rating{
    margin-top:80%;
}
  }
  @media screen and (min-width: 320px) {
    .rating{
    margin-top:0;
}
  }


	/* Le groupe '.stars' positionne les étoiles
		 les unes à côté des autres sans espacements. */
.stars {
	display: inline-flex;
	justify-content: center;
	font-size: 2em;
	}

	/* A l'état :hover sur le parent '.rating',
		 on force TOUTES les étoiles à passer en teinte rouge. */
.stars:hover .fa-star {
	color: #DF362D;
	}
	/* Au survole de la souris une étoile en particulier,
		  on peut utiliser l'opérateur '~'
          pour sélectionner toutes les étoiles qui se trouvent après celle-ci,
           et les forcés en gris.*/
	.stars .fa-star:hover ~ .fa-star {
		color: gray;
	}
   /*End of caroussel Avis accueil
            End HOME*/
